/************************************************************ RESETEO DE VALORES ************************************************************/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}

/************************************************************ BODY ************************************************************/

body{
    background-color: #f2f2f2;;
}

/************************************************************ CONTAINER ************************************************************/

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:    "header"
                            "main"
                            "footer";
                            
}

/************************************************************ HEADER ************************************************************/
    
    .container .header{
        background:#252932;
        color: #fff;
        grid-area: header;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
    }

/************************************************************ NOMBRE Y LOGO ************************************************************/
        
        .element-header-1{
            flex: 1 1 auto;
        }

            .element-header-1 img{
                width: 100px;
                vertical-align: top;
            }

            .element-header-1 a{
                color: white;
                text-decoration: none;
                line-height: 100px;
                font-size: 30px;
            }

/************************************************************ MENU ************************************************************/

        .element-header-2{
            flex:  1 1 auto;
        }
            .element-header-2 .menu{
                display: flex;
                flex-flow: column wrap;
                align-content: flex-end;
                width: 100%;
            }

                .element-header-2 .menu ul{
                    display: flex;
                    flex-flow: row wrap;
                }

                    .element-header-2 .menu ul li{
                        list-style: none;
                        flex: 1 1 auto;
                    }

                        .element-header-2 .menu ul li a{
                            color: white;
                            text-decoration: none;
                            padding: 10px;
                            display: block;
                            text-align: center; 
                        }

                        .element-header-2 .menu ul li a:hover{
                            color: #f56f3a; 
                        }


/************************************************************ FOOTER ************************************************************/

    .container .footer{
        grid-area: footer;
        background:#252932;
        color: #fff;
        display: flex;
        justify-content: center;
        width: 100%;
    }
                    

/************************************************************ FORMULARIO ************************************************************/

    .formulario{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;;
        padding: 15px;
        background: #f2f2f2;
        border-radius: 10px;
        margin: 30px;
        width: 100%;
        transition: aparecer 2s linear infinite normal;
    }

        .formulario input[type=number], input[type=text], input[type=password], textarea{
            width: 100%;
            padding: 5px;
            margin: 4px 0;
            display: inline-block;
            border: 1px solid #b8b3b3;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 15px;
            
        
        }
        
        .formulario input[type=button] {
            width: 100%;
            padding: 7px;
            margin: 4px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            border: 1px solid #f2f2f2;
            font-size: 15px;
        
        }
        .formulario input[type=button]:hover {
            background-color: #00aeef;
            color: white;
        } 

        .formulario label{
            text-align: center;
            width: 100%;
        }

/************************************************************ MAIN ************************************************************/

    .container .main{
        grid-area: main;
        display: flex;
        justify-content: center;
        align-items: center;

        background: white;
    }

        #btnCerrar{
            width: 10%;
            padding: 7px;
            margin: 4px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            border: 1px solid #f2f2f2;
            font-size: 15px;
            background: red;
            color: white;
        }

        #btnCerrar:hover{
            background: rgb(100, 29, 29);
        }

        h2{
            text-align: center;
            padding: 10px;
            width: 100%;
        }

        .formulario input[type=submit] {
            width: 20%;
            padding: 7px;
            margin: 4px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            border: 1px solid #f2f2f2;
            font-size: 15px;
            
        }
        .formulario input[type=submit]:hover {
            background-color: #00aeef;
            color: white;
        } 
#oculto{
    animation: aparecer;
    animation-duration: 5s;
}

@keyframes aparecer{
    from{opacity: 0;}
    to{opacity: 1;}
}