/* *{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;  
}

    .titulo{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: flex-start;
    }
    
        .titulo h1{
            flex: 1 1 auto;
            padding: 20px;
            margin: 20px;
        }

    .menu{
        display: flex;
        flex-flow: column wrap;
        align-content: flex-end;
        width: 100%;
    }

        .menu ul{
            display: flex;
            flex-flow: row wrap;
        }

            .menu ul li{
                list-style: none;
                flex: 1 1 auto;
            }
             
                .menu ul li a{
                    text-decoration: none;
                    padding: 10px;
                    display: block;
                    text-align: center; 
                } */


/* form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: grey;
    border-radius: 15px;
    padding: 30px;
    margin: 10px;
    font-weight: bold;
    /* width: 30%; 
}*/

    /* input{
        padding: 10px;
        margin: 5px;
    }

    input[type="button"]{
        background: dodgerblue;
        color: white;
        border-radius: 4px;
        border: none;
    } */ 


.divOculto{
    position: absolute;
    width: 100%;
    top:25%;
    bottom: 25%;
    left:25%;
    right: 25%;
    transition: all 3s ease-in-out;
}

.formulario{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px;
    background: black;
    width: 40%;
}

.formulario input[type=text], textarea{
    width: 60%;
    padding: 5px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 10px;

}

.formulario label{
    color: #f2f2f2;
}

.formulario input[type=button] {
    width: 60%;
    padding: 5px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #f2f2f2;
    background: grey;
    color: white;
}
.formulario input[type=button]:hover {
    background: rgb(66, 65, 65);
} 


@keyframes aparecer{
    from{opacity: 0}
    to{opacity: 1}
}

#btnCerrar{

    padding: 5px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #f2f2f2;
    background: red;
    color: white;
    align-self: flex-end;
    width: 5%;
    
}